<h1>New Subscriber</h1>

<td><%= link_to 'Admin', subscribers_path %></td>

<%= render 'form', subscriber: @subscriber %>

<script>
  console.log('hey')
  document.querySelector('form').addEventListener('submit', (e) => e.preventDefault());
</script>
