<div class='header'>

  <div class="dropdown">
    <span class='dropdown-icon'>☰</span>
    <div class="dropdown-content">
      <p class='dropdown-item'>Go here</p>
      <p class='dropdown-item'>Go there</p>
      <p class='dropdown-item'>Go everywhere</p>
    </div>
  </div>

  <img src="/assets/title.png" alt="title" class='header-logo'>

  <div class="main">
    <div class="title">
      <p class='homebody'>OCULUS QUEST 2 GIVES YOU THE FREEDOM TO DO IT ALL. GAMES, ENTERTAINMENT, LIVE EVENTS, FITNESS AND MORE.</p>
    </div>
    <button class="buy-btn">BUY NOW</button>

  <% unless params[:submitted].present? %>
    <div class="subscribe">
      <p>Get notified of discounts, new products and games!</p>
      <button class="sign-up-btn">SIGN UP FOR NEWS & OFFERS</button>
    </div>
  <% end %>
  </div>

</div>

<div class='pop-up'>
  <div class="pop-up-wrapper">
    <%= render 'form', subscriber: @subscriber %>
  </div>
</div>
<!-- <script>
  console.log('hey')
  document.querySelector('form').addEventListener('submit', (e) => e.preventDefault());
</script> -->
