<div class='header'>

  <div class="dropdown">
    <span class='dropdown-icon'>☰</span>
    <div class="dropdown-content">
      <p class='dropdown-item'>Hello World!</p>
      <p class='dropdown-item'>Hello Alex!</p>
      <p class='dropdown-item'>Hello Faith!</p>
    </div>
  </div>

  <%# <img src="/assets/logo.jpg" alt="company logo" class='header-logo'> %>
  <img src="/assets/title.png" alt="title" class='header-logo'>

  <%# <h1 class='header-name'>oculus</h1> %>

  <div class="main">
    <div class="title">
      <p>OCULUS QUEST 2 GIVES YOU THE FREEDOM TO DO IT ALL. GAMES, ENTERTAINMENT, LIVE EVENTS, FITNESS AND MORE.</p>
    </div>
    <button class="buy-btn">BUY NOW</button>
  </div>

  <div class="subscribe">
    <p>Get notified of discounts, new products and games!</p>
    <button class="sing-up-btn">SIGN UP FOR NEWS & OFFERS</button>
  </div>

</div>

<div class='pop-up'
  <%= render 'form', subscriber: @subscriber %>
</div>
<!-- <script>
  console.log('hey')
  document.querySelector('form').addEventListener('submit', (e) => e.preventDefault());
</script> -->
