<div class='header'>

  <div class="dropdown">
    <span class='dropdown-icon'>☰</span>
    <div class="dropdown-content">
      <p class='dropdown-item'>Hello World!</p>
      <p class='dropdown-item'>Hello Alex!</p>
      <p class='dropdown-item'>Hello Faith!</p>
    </div>
  </div>

  <%# <img src="/assets/logo.jpg" alt="company logo" class='header-logo'> %>
  <img src="/assets/title.png" alt="title" class='header-logo'>

  <%# <h1 class='header-name'>oculus</h1> %>

  <div class="main">
    <div class="title">
      <p class='homebody'>OCULUS QUEST 2 GIVES YOU THE FREEDOM TO DO IT ALL. GAMES, ENTERTAINMENT, LIVE EVENTS, FITNESS AND MORE.</p>
    </div>
    <button class="buy-btn">BUY NOW</button>
  </div>

  <div class='subscribed-pop-up'>
    <h1>Welcome to the Cutting Edge of VR</h1>
    <p>We'll keep you updated with the latest from Oculus!</p>
    <%= link_to 'Back to Site', root_path, :class => 'homepage-link' %>
  </div>

</div>
