h1 {
  font-size: 2em !important;
}

#sign_in_form {
  text-align: center;
  font-size: 1.3em;
}

.btn-primary {
  text-align: center;
  margin-top: 20px;
  padding: 5px 5px;
}

.form-control {
  border-radius: 5px;
  padding: 5px 0;
}
