@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.body {
  font-family: 'Roboto', sans-serif;
}

.hide {
  display: none;
}

.error {
  color: #FF9494;
  font-size: !important 15px;
}

.header {
  height: 135px;
  width: 100vw;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  display: inline-block;
  position: absolute;
  top:5vh;
}

.header-name {
  display: inline-block;
  font-weight: normal;
}

.header-logo {
  width: 429px;
  height: 150px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item:hover {
  background-color: grey;
}

.dropdown-icon {
  font-size: 100px;
  position: relative;
  bottom: 38px;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
}

.pop-up {
  font-family: 'Roboto', sans-serif;
  top: 13vh;
  background-color: #181818;
  color: white;
  width: 90vw;
  margin: 0 auto;
  position: absolute;
  left: 5vw;
  height: 100vh;
  display: none;
  border-radius: 20px;
}

.subscribed-pop-up {
  font-family: 'Roboto', sans-serif;
  top: 25vh;
  background-color: #181818;
  color: white;
  width: 90vw;
  margin: 0 auto;
  position: absolute;
  left: 5vw;
  height: 50vh;
}

.form-input {
  width: 184px;
  height: 38px;
  left: 39px;
  top: 113px;
  background: rgba(229, 229, 229, 0.54);
  border: 1px solid #000000;
  box-sizing: border-box;
  resize: none;
  border-radius: 9px;
}

.show {
  display: block;
}

.submit-button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 7px;
  width: 140px;
  height: 40px;
  left: 20vw;
  position: absolute;
  margin-top: 80px;
}

.main {
  background-image: url("/assets/bacground.png");
  // background-color: orange;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  margin-top: 50px;
  position: relative;
  right: 5px;
}

.buy-btn {
  width: 446.4px;
  height: 136.8px;
  border-radius: 60px;
  background-color: #1e65c1;
  color: white;
  font-size: 200%;
  border: none;
  margin: 0 auto;
  position: absolute;
  top: 45vh;
  left: 25vw
}

.sign-up-btn {
  width: 80vw;
  height: 136px;
  border-radius: 60px;
  background-color: #1e65c1;
  color: white;
  font-size: 200%;
  border: none;
  margin: 0 auto;
}

.homebody {
  position: absolute;
  width: 183px;
  height: 161px;
  left: 24vw;
  top: 169px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 350%;
  // line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  width: 508px;

  color: #000000;
}

.subscribe {
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  width: 90vw;
  height: 25vh;
  left: 5vw;
  top: 62vh;

  background: #181818;
  border-radius: 15px;
  text-align: center;

}

.subscribe p{
  font-size: 300%;
  padding: 0px 44px;
}

.close {
  margin-left: 70vw;
  width: 10vw;
  height: 4vh;
  background-color: black;
  border:0;
  color: white;
  font-size: 350%;
}

.submit-button {
  width: 372px;
  height: 60px;
  border-radius: 30px;
  background-color: #1e65c1;
  color: white;
  font-size: 200%;
}

.pop-up-wrapper {
  width: 80%;
  margin: 30px auto;
}

// .pop-up-wrapper label{
//   font-size: 350%;
// }

.field-div {
  // display: inline-block;
}

.homepage-link {
  color: white;
  border: 2px solid white;
  padding: 4px 4px;
}

.firstPartTickbox {
  display: inline-block;
}

.secondPartTickbox {
  display: inline-block;
  margin-left: 100px;
}

.field-div {
  margin-bottom: 50px;
  margin-right: 100px;
}

.tickbox-title {
  font-size: 2em;
}
