@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.body {
  font-family: Roboto;
}

.hide {
  display: none;
}

.header {
  height: 35px;
  width: 100vw;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  display: inline-block;
}

.header-name {
  display: inline-block;
  font-weight: normal;
}

.header-logo {
  width: 187px;
  height: 44px;
  left: 66px;
  top: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item:hover {
  background-color: grey;
}

.dropdown-icon {
  font-size: 40px;
}

::placeholder {
  font-family: helvetica;
  line-height: 20px;
}

.pop-up {
  top: 25vh;
  background-color: black;
  color: white;
  width: 90vw;
  margin: 0 auto;
  position: absolute;
  left: 5vw;
  height: 50vh;
  display: none;
}

.subscribed-pop-up {
  top: 25vh;
  background-color: black;
  color: white;
  width: 90vw;
  margin: 0 auto;
  position: absolute;
  left: 5vw;
  height: 50vh;
}

.form-input {
  width: 184px;
  height: 38px;
  left: 39px;
  top: 113px;
  background: rgba(229, 229, 229, 0.54);
  border: 1px solid #000000;
  box-sizing: border-box;
  resize: none;
  border-radius: 9px;
}

.show {
  display: block;
}

.submit-button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 7px;
  width: 140px;
  height: 40px;
  
}

.main {
  background-image: url("/assets/bacground.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 400px;
  margin-top: 35px;
}

.buy-btn {

}

.sign-up-btn {
  width: 372px;
  height: 114px;
  border-radius: 30px;
  background-color: #1e65c1;
  color: white;
  font-size: 200%;
  border: none;
  margin: 0 auto;
}

.homebody {
  position: absolute;
  width: 183px;
  height: 161px;
  left: 96px;
  top: 169px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
}

.subscribe {
  color: white;
  position: absolute;
  width: 90vw;
  height: 10vh;
  left: 22px;
  top: 567px;

  background: #181818;
  border-radius: 15px;

}

.close {
  margin-left: 80vw;
  width: 10vw;
  height: 4vh;
  background-color: black;
  border:0;
}

.submit-button {
  width: 372px;
  height: 60px;
  border-radius: 30px;
  background-color: #1e65c1;
  color: white;
  font-size: 200%;
}
